<!--Template/base.html-->
<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %}</title>
    <meta name="description" content="{% block description %} {% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'boxicons/css/boxicons.min.css' %}" type="text/css" media="screen">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block vendor %} {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

<footer>
    <section id="footer" class="footer">
        <div class="row justify-content-center">
        <div class="col-10 footer-info">
          <small>CS-490 Project @NJIT</small>
        </div>
        <div class="col-10 footer-info">
            <small><a href="https://github.com/gajeraYash/app-cs490">Github</a></small>
        </div>
      </div>
    </section>
</footer>
</html>