{% extends 'app/base.html' %} 
{% load static %} 
{% block title %}ChangePassword{% endblock %} 
{% block description %}Change Account Password.{% endblock %} 
{% block vendor %}
<link rel="stylesheet" href="{% static 'css/change_password.css' %}" type="text/css" media="screen" />
{% endblock %} 
{% block content %}
<section id="passwordnew" class="f-section justify-content-center">
    <div class="row no-gutters">
        <div class="col">
            <div class="row justify-content-center no-gutters">
                <h1>Change Password</h1>
            </div>
            {% if messages %}
            <div class="row justify-content-center no-gutters">
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success" role="alert">
                        <strong>{{ message|escape }}</strong>
                    </div>
                    {% else %}
                    <div class="alert alert-danger" role="alert">
                        <strong>{{ message|escape }}</strong>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <div class="row justify-content-center passform no-gutters">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row no-gutters">
                        <label for="{{form.old_password.id_for_label}}">Old Password:</label>
                        <input type="password" class="w-100 form-control" name="{{form.old_password.name}}" autocomplete="current-password" autofocus="" required="" id="{{form.old_password.id_for_label}}">
                    </div>
                    <div class="row no-gutters">
                        <label for="{{form.new_password1.id_for_label}}">New Password:</label>
                        <input type="password" class="w-100 form-control" name="{{form.new_password1.name}}" autocomplete="new-password" required="" id="{{form.new_password1.id_for_label}}">
                    </div>
                    <div class="row helptxt no-gutters">
                        {{form.new_password1.help_text}}
                    </div>
                    <div class="row no-gutters">
                        <label for="{{form.new_password2.id_for_label}}">Confirm Password:</label>
                        <input type="password" class="w-100 form-control" name="{{form.new_password2.name}}" autocomplete="new-password" required="" id="{{form.new_password2.id_for_label}}">
                    </div>
                    <div class="row no-gutters  justify-content-center">
                        <button class="btn btn-outline-primary" type="submit">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}