{% extends 'app/base.html' %}
{% load static %}
{% block title %}Feed{% endblock %}
{% block description %}User feed consisting of announcement, photos, documentation, and etc.{% endblock %}
{% block vendor %}
<script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/feed.js' %}"></script>
{% endblock %}
{% block content %}
{% include "app/navbar.html" with user=user active_tab='home'%}
<section id="feed">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-10 col-lg-8 col-lg-6">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control announcementform" name="announcement" rows="3" maxlength="280"
                            required="" id="{{announcement_form.announcement.id_for_label}}"
                            spellcheck="false"></textarea>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" onclick="get_feed()"class="btn btn-outline-primary">Post</button>
                    </div>
                </form>
                <div id="feed-content">
                    {% include "app/partials/user_feed.html" %}
                </div>
            </div>
            <div id="searchfield" class="col-sm-4 col-md-4 col-lg-4">
                <input id="user-input" class="form-control" type="search" placeholder="Search" aria-label="Search">
                <div id="search-content">
                    {% include "app/partials/user_search.html" %}
                </div>    
            </div>
        </div>
    </div>
</section>
{% endblock %}