{% extends 'app/base.html' %}
{% load static %}
{% block title %}Social Media App{% endblock %}
{% block description %}Social Media App created for CS:490 @NJIT{% endblock %}
{% block vendor %} 
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" media="screen">
{% endblock %}
{% block content %}
<section id="landing" class="d-flex flex-column justify-content-center" >
  <div class="container" >
      <h1>Social Media App <br><span>Rutgers-Newark & NJIT</span></h1>
      <p class="p-large">App is running on Django 3.1.2</p>
      <div class="col">
        <a href="{% url 'app:signup' %}" class="btn bt1 btn-outline-primary">Sign up</a>
        <a href="{% url 'app:login' %}" class="btn bt2 btn-outline-primary">Login</a>
      </div>
  </div>
</section>
{% endblock %}
