{% extends 'app/base.html' %}
{% load static %}
{% block title %}POST{% endblock %}
{% block description %}User post consisting of announcement, photos, documentation, and etc.{% endblock %}
{% block vendor %}
<link rel="stylesheet" href="{% static 'css/post.css' %}" type="text/css" media="screen">
<script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
{% endblock %}
{% block content %}
{% include "app/partials/navbar.html" with user=user active_tab='home'%}
<section id="userpost" class="f-section">
    <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
            <div id="post" class="post">
                <div class="row no-gutters">
                    <div class="user_pic">
                        <a href="{% url 'app:user_profile' username=post.user.username %}">
                            <img src="{{post.user.userprofile.profile_pic.url}}"
                                class="rounded-circle img-fluid mx-auto d-block sizeoption" alt="...">
                        </a>
                    </div>
                    <div class="col user_post">
                        <div class="user_info">
                            <a href="{% url 'app:user_profile' username=post.user.username %}">
                                <div class="name">{{post.user.first_name}} {{post.user.last_name}}
                            </a>
                            <a href="{% url 'app:user_profile' username=post.user.username %}">
                                <span class="user"><span class="username">@{{post.user.username}}</span>
                            </a>
                        </div>
                        <div class="announcement">{{ post.announcement }}</div>
                        {%if post.image %}
                        <div class="userfile">
                            <img src="{{post.image.url}}" class="img-fluid mx-auto d-block imgoption" alt="...">
                        </div>
                        {% endif %}
                        <div class="row no-gutters justify-content-center">
                            <div class="col">
                                <div class="date">{{ post.created }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form id="form" method="POST">
            {% csrf_token %}
            <div class="col">
                <div class="row">
                    <textarea class="comment_area" name="comment" rows="2" maxlength="280" required=""
                        id="{{comment_form.comment.id_for_label}}" spellcheck="false"></textarea>
                </div>
                <div class="row justify-content-end">
                    <button type="submit" class="btn btn-outline-primary commentbtn">Comment</button>
                </div>
            </div>
        </form>
        {% for reply in comment%}
        <div id="comment">
            <div class="row justify-content-end no-gutters">
                <div class="col-10 col-sm-10 col-md-11 col-lg-11">
                    <div id="post" class="post">
                        <div class="row no-gutters">
                            <div class="user_pic">
                                <a href="{% url 'app:user_profile' username=reply.user.username %}">
                                    <img src="{{reply.user.userprofile.profile_pic.url}}"
                                        class="rounded-circle img-fluid mx-auto d-block commentimg" alt="...">
                                </a>
                            </div>
                            <div class="col user_post">
                                <div class="user_info">
                                    <a href="{% url 'app:user_profile' username=post.user.username %}">
                                        <div class="name">{{reply.user.first_name}} {{reply.user.last_name}}
                                    </a>
                                    <a href="{% url 'app:user_profile' username=post.user.username %}">
                                        <span class="user"><span class="username">@{{reply.user.username}}</span>
                                    </a>
                                    <i class='bx bx-reply bx-rotate-180 replyicon' ></i>
                                </div>
                                <div class="announcement">{{ reply.comment }}</div>
                                <div class="row no-gutters justify-content-center">
                                    <div class="col">
                                        <div class="date">{{ reply.created }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}