<form method="POST">
    {% csrf_token %}
    {% if user_form.errors %}
    <div class='form-row'>
        <div class="alert col-md-8 alert-warning" role="alert">
            {{ user_form.errors.get_json_data }}
        </div>
    </div>    
    {% endif %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="username">Username</label>
            {{user_form.username}}
            <small>{{user_form.username.help_text}}</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="first_name">First Name</label>
            {{user_form.first_name}}
        </div>
        <div class="form-group col-md-3">
            <label for="last_name">Last Name</label>
            {{user_form.last_name}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="email">Email</label>
            {{user_form.email}}
        </div>
        <div class="form-group col-md-2">
            <label for="date_of_birth">Date of Birth</label>
            <input type="date" name="date_of_birth" class="form-control" required="" id="{{profile_form.date_of_birth.id_for_label}}">
        </div>
    </div>
    <div class="form-row">
        
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="password1">Password</label>
            {{user_form.password1}}
        </div>
    </div>
    <div class="form-row">
        <small>{{user_form.password1.help_text}}</small>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="password2">Confirm Password</label>
            {{user_form.password2}}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>