#passwordnew h1{
    color: var(--main-text)
}

#passwordnew .lbl {
    color: var(--main-text);
    padding-top: 10px;
}

#passwordnew label{
    color: var(--main-subtext);
    margin: 0px;
}

#passwordnew .passform .row{
    padding: 5px 0px;
}

#passwordnew .passform .helptxt{
    padding: 5px 0px;
    color: var(--main-subtext);
}

#passwordnew .passform .helptxt ul {
    margin: 0px;
    padding: 0px;
}

#passwordnew .passform .helptxt ul li{
    list-style: none;
}

#passwordnew button{
    margin: 5px 0px;
}

#passwordnew .btn{
    color: var(--main-primary);
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    border-color: var(--main-primary);
    padding: 0.7rem 1rem;
    transition: all 0.25s cubic-bezier(0.17, 0.67, 0.83, 0.67) 0s;
}

#passwordnew .btn:hover {
    background-color: var(--main-primary-hover);
}