:root {
    --main-primary-color: #64ffda;
    --main-secondary-color: #dceff9;
    --main-sub-color: #828B8F;
    --main-other-color: #05b2dc;
    --main-bg-color: #092532;
  
    --hover-primary-bg-color: #64ffda33; /*20% Opacity*/
    --shade-bg-color: #030D11;
    --pop-bg-color: #061A22;
}