@import "partials/user_feed.css";
@import "partials/navbar.css"; 
@import "partials/user_search.css"; 

#feed {
    padding: 100px 0px;
    width: 100%;
    background-color: var(--main-bg-color);
    background-size: cover;
    min-height: 100vh;
}

#feed .img_upload{
    color: var(--main-sub-color)
}