@import "partials/navbar.css";
@import "partials/msg_user.css";

#message h1 {
  margin: 20px 10px 40px 10px;
  color: var(--main-text);
  font-size: 40px;
}

/* Thread */
#message #thread{
  color: var(--main-text);
  margin: 10px 0px;
  padding: 10px 15px;
  background-color: var(--main-bg-shade);
  border-radius: 15px;
}

#message #thread .userimg{
  width: 3.5rem;
  height: 3.5rem;
}

#message #thread .username{
  font-size: 14px;
  color: var(--main-subtext);
}

#message #thread a{
  text-decoration: none;
  color: var(--main-text);
}

#message #thread .name{
  font-size: 16px;
}