nav#navbar {
    padding: 20px 5% 20px 5%;
    background-color: var(--main-bg-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

a.navbar-brand {
    color: var(--main-secondary-color) !important;
}

a#navbardrop {
    color: var(--main-secondary-color) !important;
}

#navbar .btn {
    color: var(--main-primary-color);
    font-weight: 600;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    border-color: var(--main-primary-color);
    padding: 0.7rem 1rem;
    transition: all 0.25s cubic-bezier(0.17, 0.67, 0.83, 0.67) 0s;
}

#navbar .btn:hover {
    background-color: var(--hover-primary-bg-color);
}

.longdivv {
    min-height: 15000px;
}

.nav-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.nav-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.nav-init {
    padding: 10px 5% 10px 5%;
    -webkit-box-shadow: 0px 10px 10px -2px rgba(3, 13, 17, 0.75);
    -moz-box-shadow: 0px 10px 10px -2px rgba(3, 13, 17, 0.75);
    box-shadow: 0px 10px 10px -2px rgba(3, 13, 17, 0.75);
    transition: all 0.5s ease-in-out;
}