@import "partials/user_feed.css";

#profile {
    padding: 100px 0px;
    width: 100%;
    background-color: var(--main-bg-color);
    background-size: cover;
    min-height: 100vh;
}

#profile .profileBox {
    color: var(--main-secondary-color);
    margin: 15px 0px;
    padding: 10px 15px;
    background-color: var(--shade-bg-color);
    border-radius: 15px;
}

#profile #feed-content {
    overflow-y: auto;
    height: 80vh;
}

#profile .username {
    color: var(--main-sub-color);
}

#profile .profilePic {
    padding: 10px 0px;
}

#profile .membersince {
    justify-content: flex-end;
}

#profile .bio {
    text-align: center;
    margin: 15px 0px;
    padding: 10px 15px;
    background-color: var(--pop-bg-color);
    border-radius: 15px;
}