@import "partials/user_feed.css";

#profile .profileBox {
    color: var(--main-text);
    margin: 15px 0px;
    padding: 10px 15px;
    background-color: var(--main-bg-shade);
    border-radius: 15px;
}

#profile #feed-content {
    overflow-y: auto;
    height: 80vh;
}

#profile .username {
    color: var(--main-subtext);
}

#profile .profilePic {
    padding: 10px 0px;
}

#profile .userimg{
    width: 8rem;
    height: 8rem;
}

#profile .membersince {
    justify-content: flex-end;
}

#profile .bio {
    text-align: center;
    margin: 15px 0px;
    padding: 10px 15px;
    background-color: var(--main-bg-shade);
    border-radius: 15px;
}

#profile .btn{
    color: var(--main-primary);
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    border-color: var(--main-primary);
    padding: 0.7rem 1rem;
    transition: all 0.25s cubic-bezier(0.17, 0.67, 0.83, 0.67) 0s;
}

#profile .btn:hover {
    background-color: var(--main-primary-hover);
}