/*Parent CSS STYLE*/
@import "partials/footer.css";
:root {
  --main-primary: #EAC435;
  --main-text: #dceff9;
  --main-subtext: #828B8F;
  --main-other-color: #03CEA4;
  --main-background: #1B2D4B;

  --main-primary-hover: #EAC43533; /*20% Opacity*/
  --main-bg-shade: #030D11;
}

html {
  background-color: var(--main-background);
  height:100%;
}

html:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--main-background);
  z-index: -1;
}