@import  "partials/user_feed.css";

#profile {
    padding: 100px 0px;
    width: 100%;
    background-color: var(--main-background);
    background-size: cover;
    min-height: 100vh;
}

#profile .profileBox  {
    color: var(--main-text);
    margin: 15px 0px;
    padding: 10px 15px;
    background-color: var(--main-bg-shade);
    border-radius: 15px;
}

/*id tag
.username  {
    color: var(--main-subtext);
    font-size: 15px;
}
/*end*/

#profile #feed-content {
    overflow-y:auto;
    height: 80vh;
}

#profile .profilePic{
    padding: 10px 0px;
}

#profile .membersince{
    justify-content: flex-end;
}

#profile .bio{
    text-align: center;
    margin: 15px 0px;
    padding: 10px 15px;
    background-color: var(--main-bg-shade);
    border-radius: 15px;
}