#post.post{
    color: var(--main-secondary-color);
    margin: 15px 0px;
    padding: 10px 15px;
    background-color: var(--shade-bg-color);
    border-radius: 15px;
}

#post .name {
    font-size: 12px;
}

#post .user {
    padding-left: 5px;
}

#post .username {
    color: var(--main-sub-color);
}

#post .announcement {
    font-size: 15px;
    margin: 5px 0px;
}

#post .date {
    font-size: 10px;
    margin: 5px 0px;
    color: var(--main-sub-color);
    text-align: right;

}

#post .announcementform {
    border-radius: 15px;
}

#post textarea {
    resize: none;
}
/* 
#post #post-content {
    overflow-y:auto;
    height: 80vh;
} */
#post .sizeoption{
  width: 100%;
  max-height: 100%;
}

#post .user_post {
    padding-left: 10px;
}

/*comment & pic i*/
.post-icons i {
    font-size: 1rem;
    color: var(--main-sub-color);
    margin-right: 1rem;
  }

  .post-icons {
    margin-top: 1rem;
  }
/*end i*/  