#searchfield .searchresults{
    color: var(--main-secondary-color);
    margin: 10px 0px;
    padding: 10px 15px;
    background-color: var(--shade-bg-color);
    border-radius: 15px;
}
#searchfield .searchresults .username{
    font-size: 14px;
    color: var(--main-sub-color);
}
#searchfield .searchresults .name{
    font-size: 16px;
}
#searchfield .searchresults a{
    text-decoration: none;
    color: var(--main-secondary-color);
}

#searchfield .userimg{
    width: 3.8rem;
    height: 3.8rem;
}

@media only screen and (max-width: 992px) {
    div#searchfield {
        display: none;
    }
}