{% if user_results %}
{% for user in user_results %}
<div id='searchresults' class="searchresults cube-trans">
    <div class="row">
        <div class="col-3">
            <img src="{{user.userprofile.profile_pic.url}}" class="rounded-circle img-fluid mx-auto d-block sizeoption" alt="...">
        </div>
        <div class="col-9">
            {% if user.userprofile.admin %}
            <div class="name">{{ user.first_name}} {{user.last_name}} <i class='bx bxs-badge-check'></i> </div>
            {% else %}
            <div class="name">{{ user.first_name}} {{user.last_name}}</div>
            {% endif %}
            <div class="username"><span>@</span>{{ user.username }} </div>
        </div>
    </div>
    
</div>
{% endfor %}
{% endif %}