{% if user_results %}
{% for user in user_results %}
<div id='searchresults' class="searchresults cube-trans">
    <div class="row">
        <div class="col-3">
            <a href="{% url 'app:user_profile' username=user.username %}">
                <img src="{{user.userprofile.profile_pic.url}}"
                    class="rounded-circle img-fluid mx-auto d-block userimg sizeoption" alt="...">
            </a>
        </div>
        <div class="col-9">
            <div class="row">
                <a href="{% url 'app:user_profile' username=user.username %}">
                    {% if user.userprofile.admin %}
                    <div class="name d-inline-block">{{ user.first_name}} {{user.last_name}} <i
                            class='bx bxs-badge-check'></i> </div>
                    {% else %}
                    <div class="name d-inline-block">{{ user.first_name}} {{user.last_name}}</div>
                    {% endif %}
                </a>
            </div>
            <div class="row">
                <a href="{% url 'app:user_profile' username=user.username %}">
                    <div class="username d-inline-block"><span>@</span>{{ user.username }} </div>
                </a>
            </div>
        </div>
    </div>

</div>
{% endfor %}
{% endif %}